# Python stuff
env/
.env

# HDL stuff
sim/*.out
vivado.log
obj/
vcd/

# Misc.
.DS_Store

vivado_*.backup.log
vivado_*.backup.jou
vivado.log
vivado.jou

ip_tb/
ip/i2s_receiver/ip/
ip/fir_compiler_0/ip/*
ip/fir_compiler_1/ip/*
.Xil/i2s_receiver_propImpl.xdc

*.vcd
*.out
